{% extends 'base.html' %}
{% load static %}


{% block title %}
Weather
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}
<div class="weather_block">
    <h1>Weather</h1>
    <form method="post" action="/">
        {% csrf_token %}
        <div>{{ form.city }}</div>
        <div>{{ form.language_choice }}</div>
        <div><button type="submit">Check the weather in the city</button></div>
    </form>

    <div class="weather_card">
        {% if not weather_error %}
        <img src="{{ city_weather.icon_url }}" alt="Weather icon">
        <p>{{ city_weather.weather_name }}</p>
        <p>{{ city_weather.weather_description }}</p>
        <p>{{ city_weather.temp }}</p>
        <p>{{ city_weather.temp_feels_like }}</p>
        <p>{{ city_weather.wind_speed }}</p>
        {% else %}
        <p>Error</p> <!--TODO: Більш красиво вивести помилку-->
        {% endif %}
    </div>
</div>

{% endblock content %}